/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
	padding-bottom: 20px; 
}

/*
 * Remove text-shadow in selection highlight
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * text underline on link hover
 */
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
   
/* ==========================================================================
   Header
   ========================================================================== */

header#header { 
	background-color: rgba(0, 0, 0, 0.8);
	height:100px;
	width: 100%;
	position:absolute;
	top:0;
	z-index: 1000;
}
header#header h1 {
	margin: 0;   
	color: #585858;
}

header#header nav select {
	float: right;
	margin: 0;
	padding: 2;
	position: absolute;
	right: 0px;
}
header#header nav select#minnav1 {
	top: 18px;
}
header#header nav select#minnav2 {
	top: 58px;
}

header#header nav > ul {
	float: right;
	line-height: 1;
	list-style: none outside none;
	margin: 0;
	padding: 17px;
}
header#header nav ul li {
	float: left;
	position: relative;
	padding-left:20px;
}
header#header nav > ul.nav-top li a {
	color:#ccc;
	font-size:12px;
}
header#header nav > ul.nav-top li span,
header#header nav > ul.nav-top li span a{
	color:#ccc;
	font-size:10px;
}
header#header nav > ul.nav-bot li a {
	color:#fc0;
}

header#header nav ul li.selected {
	color:#c00;
}

.minnav {  
	display: none;  
}

/* ==========================================================================
   Content
   ========================================================================== */

/*************** responsive video embed *****************/  
#video {
	margin-top:10px;
	margin-bottom:10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*************** ellipsis text *****************/
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('xml/ellipsis.xml#ellipsis');
}

/***************************************************************/
   
   ul.description {
	    /*text-align: center;*/
		color: #222222;
		font-size: 12px;
		font-weight: bold;
		margin: 0;
		padding: 0;
		margin-top: 10px;
		margin-bottom: 10px;
		list-style: none;    
   }
   
   ul.description li { 
   		display: inline-block; 
		*display: inline;
		zoom: 1;
		margin-right: 20px; 
   }
   
   ul.description li .attribute { 
  		color: #b5b5b5;
   }
   
   .title { 
   		text-align: center;
   		color: #404040; 
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		padding-top: 10px; 
		padding-bottom: 10px; 
		/*margin-top: 10px;*/
		margin-bottom: 10px;
   }
   
   .title h3 { margin: 0; }	
   
   .gray {
		/*text-align: center;*/
		background: #dddddd;
		color: #666666;
		border-radius: 3px;
		margin-bottom: 10px; 
		margin-top: 10px;
		padding: 20px;
		font-size: 12px;
   }
   
   .gray:hover {
		background: #d5d5d5; 
   }
   
   .gray .columns,
   .sidebar .columns { 
   		font-size: 12px; 
		margin-bottom: 3px; 
		font-weight: bold; 
		color: #404040; 
   }
   .sidebar .images img { 
   		max-width: 100%;
		margin-top:10px;
		margin-bottom:10px;
		
   }
   
   .gray .size { 
   		font-size: 12px; 
   }

   .parent-column {  
   		text-align: center; 
   }

   .parent-column h5 {
		margin: 10px 0px 10px 0px;    
   }

/* ==========================================================================
   Footer
   ========================================================================== */

   footer#footer {
		border-top: 1px solid #e5e5e5;
		/*margin-top: 10px;*/
		text-align: center;    
		color: #666666; 
		font-size: 12px; 
   }
   
   footer#footer a {
		text-decoration: none;
		color: #404040;
		font-weight: bold;   
   }



#back-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity:0.8;
}

#back-top a {
	width: 56px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #c00;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #900;
}

/* arrow icon (span tag) */
#back-top span {
	width: 56px;
	height: 59px;
	display: block;
	margin-bottom: 7px;
	background: #c00 url(../img/up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #900;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
